<nav class="nav-menu">
    <div class="nav-header">
        <i class="fas fa-warehouse"></i>
        <span>Склад техники</span>
    </div>
    <div class="nav-links">
        <NavLink class="nav-link" href="/items" Match="NavLinkMatch.Prefix">
            <i class="fas fa-list"></i>
            <span>Список позиций</span>
        </NavLink>
        <NavLink class="nav-link" href="/references" Match="NavLinkMatch.Prefix">
            <i class="fas fa-book"></i>
            <span>Справочники</span>
        </NavLink>
    </div>
</nav>
